<html>
<head>
{% if title %}<title>CSGY 9132 - Assign 2: {{ title }}</title>
{% else %}<title>CS-GY 9163 - Assign 2</title>
{% endif %}
</head>
<body>
    <div>Spell Check:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('history') }}">History</a>
        <a href="{{ url_for('login_history') }}">Login History</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in message %}
        <li>!!! {{ message }} !!!</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body></html>